<section>
	
	<h2>Все комментарии:</h2>

	<ul>
			<li>
				<span><b>User ID</b></span>
				<span><b>Comments BODY</b></span>
			</li>	
		<% @comments.each do |c| %>
			<li>
				<span><%= c.user_id %></span>
				<span><%= c.body %></span>
			</li>
		<% end %>
	</ul>

	<%= link_to 'Добавить', new_comments_path %>

</section>